* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

.header_section {
  width: 100%;
  border: solid 1px #e7e7e7;
}

/* header1 start */
.header_section .header1 {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_section .header1 .header1_inner {
  border: solid 1px #f2f2f2;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 .contact_div {
  display: flex;
}

.header_section .header1 .contact_div div {
  border: solid 1px #f2f2f2;
  padding: 15px;
  color: #aaa;
}

.header_section .header1 .header_icons .icon_list {
  list-style: none;
  display: flex;
  height: 100%;
}

.header_section .header1 .header_icons .icon_list li {
  padding: 15px;
  border: solid 1px #f2f2f2;
}

.header_section .header1 .header_icons .icon_list li a {
  text-decoration: none;
  color: #aaa;
}

.header_section .header1_inner .header_icons .icon_list li:hover {
  /* color:white; */
  background-color: #ff432e;
}

/* header end */

/* header section media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header_section {
    height: auto;
  }
  .header_section .header1 {
    height: auto;
    flex-direction: column;
  }

  .header_section .header1 .header1_inner {
    width: 100%;
    flex-direction: column;
  }

  .header1 .contact_div {
    width: 100%;
    flex-direction: column;
  }

  .header_section .header1 .header_icons .icon_list {
    flex-wrap: wrap;
  }
}

/* header section media query end */
/* navigation start */
nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* height: 70px; */
  padding: 0 50px 0 20px;
}

nav .brand a {
  font-size: 45px;
  font-style: italic;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial;
  font-weight: 500;
  text-decoration: none;
  color: #ff432e;
}

.navbar {
  display: flex;
  gap: 5px;
}

.navbar li {
  list-style: none;
}

.navbar li:nth-child(2) a {
  background-color: #ff432e;
  color: #fff;
}

.navbar li a {
  font-size: 17px;
  text-decoration: none;
  color: #6b6b6b;
  padding: 18px 8px;
}

.navbar li:hover a {
  background-color: #ff432e;
  color: #fff;
}

/* navigation end */

/* navigation media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .navbar {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    background-color: #fff;
  }

  .navbar li a {
    display: block;
    padding: 14px 8px;
  }

  .navbar li:hover a {
    background-color: #ff432e;
    color: #fff;
  }
}

/* navigation media query end */

/* header image start */
.header_image {
  background-image: url("https://demo.themefisher.com/sulfur/asset/images/banner.jpg");
  height: 140px;
  width: 100%;
  background-position: top;
  background-size: cover;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_image .header_txt {
  width: 85%;
}
.header_image .header_txt h3 {
  font-size: 35px;
  font-weight: 300;
  color: #fff;
}

/* header image end */

/* header image media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header_image {
    height: 75px;
    margin: 30px 0;
  }
}
/* header section media query end */

/* aboout us section start */
.about_us {
  width: 100%;
  padding: 40px 0;
}

.about_us .about_container {
  width: 100%;
}
.about_us .about_container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.about_us .about_container .about_card .about_img {
  height: 550px;
  width: 100%;
  position: relative;
}

.about_us .about_container .about_card img {
  height: 100%;
  width: 100%;
}

.about_us .about_img .inner_img_text {
  width: 94%;
  height: 25%;
  position: absolute;
  bottom: 20px;
  background-color: #fff;
  left: 15px;
  right: 10px;
  padding: 10px 10px;
}

.about_us .about_img .inner_img_text p {
  margin-bottom: 15px;
  color: #444;
  font-size: 16px;
}
.about_us .about_img .inner_img_text span {
  font-size: 16px;
}
/* .about_us .about_container .row .about_text_div{
    height:550px;
    width:50%;
} */

.about_us .about_container .about_text_div .about_text .para1,
.para2 {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}
.about_us .about_container .about_text_div .about_text .para1 {
  margin-bottom: 10px;
}

.about_us .about_container .about_text_div .about_text .para2 {
  margin-bottom: 20px;
}

.about_us .about_container .about_text_div .about_text .about_list {
  width: 100%;
}
.about_us .about_container .about_text_div .about_text .about_list h4 {
  font-size: 18px;
  font-weight: 200;
  color: #444;
  margin-bottom: 15px;
}
.about_us .about_container .about_text_div .about_text .about_list ul li {
  list-style: none;
  margin-bottom: 10px;
}
.about_us .about_container .row .about_text_div .about_list ul li::before {
  content: "\2713";
}
/* about section end */

/* about us media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .about_us .about_container {
    flex-wrap: wrap;
    height: auto;
  }

  .about_us .about_container .row {
    flex-direction: column;
    padding: 5px;
  }
  .about_us .about_img .inner_img_text {
    height: auto;
  }
  .about_us .about_container .about_text_div {
    width: 100%;
    height: auto;
  }
}

/* about us media query end */

/* progress bar start */

.progress_section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.progress_section .progress_row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.progress_section .progress_row .progress_div1 {
  width: 45%;
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress_section .progress_row .progress_div1 .progress_text {
  width: 90%;
  height: 25%;
  padding: 5px;
}

.progress_section .progress_row .progress_div1 .progress_text p {
  font-size: 17px;
  color: #444;
  line-height: 1.2;
  margin-bottom: 15px;
}

.progress_section .progress_row .progress_div1 .progress_text .p2 {
  font-size: 17px;
  color: #444;
  line-height: 1.2;
}

.progress_section .progress_row .progress_div1 .progress_bar {
  width: 100%;
}

.progress_section .progress_row .progress_div1 .progress_bar ul {
  list-style: none;
}

.progress_section .progress_row .progress_div1 .progress_bar ul li {
  font-size: 14px;
  margin: 15px 0 0 55px;
}

.progress_section .progress_row .progress_div1 .progress_bar .percent {
  background-color: #acb2b8;
  /* padding: 5px 18px; */
  text-align: center;
  width: 7%;
  margin-left: 5px;
  /* border:solid 1px #ACB2B8; */
}

.progress_section .progress_row .progress_div1 .progress_bar .percent span {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.progress_div2 {
  width: 40%;
}
.progress_div2 .who_we_are_div {
  /* height:150px; */

  margin-bottom: 10px;
}

.progress_div2 .who_we_are_div .button_div {
  /* height:40%; */
  border: solid 1px;
  display: flex;
  align-items: center;
  padding: 18px;
}

.progress_div2 .who_we_are_div .button_div a {
  font-size: 14px;
  text-decoration: none;
}

.progress_div2 .who_we_are_div p {
  font-size: 16px;
  margin: 10px;
}
.inner_div {
  height: 12%;
  border: solid 1px;
  display: flex;
  align-items: center;
  padding: 18px;
  margin-bottom: 10px;
}
.inner_div a {
  font-size: 14px;
  text-decoration: none;
}
/* progress bar end */

/* progress bar media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .progress_section .progress_row {
    flex-direction: column;
    /* width:100%; */
  }

  .progress_section .progress_row .progress_div1 {
    width: 100%;
  }
  .progress_div2 {
    width: 100%;
  }
}
/* progress bar media query end */

/* zoom in section */
.zoom_in {
  background-image: url(https://demo.themefisher.com/sulfur/asset/images/parallax/call-to.jpg);
  height: 330px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 50px;
  text-align: center;
  padding: 90px 0;
  line-height: 1.2;
}
.zoom_in p {
  font-size: 32px;
  color: #fff;
}

/* zoom in section end */

/* zoom in media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .zoom_in {
    height: auto;
  }
  .zoom_in p {
    font-size: 16px;
  }
}

/* zoom in media query end */

.team {
  padding-bottom: 80px;
}
.team h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}
.team p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.team .team_row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.team .team_row .team_image {
  height: 260px;
  width: 260px;
  position: relative;
  overflow: hidden;
}
.team .team_row .team_image img {
  height: 100%;
  width: 100%;
}

.team .team_row .team_image .team_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.2s;
  background-color: rgba(255, 0, 0, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team_row .team_image .team_overlay h3 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  transition: all 0.2s;
  transition-delay: 0;
  transform: translateY(800%);
}
.team .team_row .team_image .team_overlay p {
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
  transition-delay: 0.1;
  transform: translateY(900%);
}
.team .team_row .team_image .team_overlay .team_icons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.team .team_row .team_image .team_overlay .team_icon {
  height: 30px;
  width: 30px;
  background-color: #fff;
}

.team .team_row .team_image .team_overlay .team_icons .team_icon {
  padding: 7px;
  transition-delay: 0.2s;
  transform: translateY(500%);
  transition: all 0.9s ease-in;
}
.team .team_row .team_image:hover .team_overlay {
  opacity: 1;
}

.team .team_row .team_image:hover h3 {
  transform: translateY(0);
}
.team .team_row .team_image:hover p {
  transform: translateY(0);
}
.team .team_row .team_image:hover .team_icons .team_icon {
  transform: translateY(0);
}

/* team section end */

/* team section media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .team .team_row {
    flex-direction: column;
  }
  .team .team_row .team_image {
    width: 100%;
  }
}

/* team section media query end */

/* social media section start */
.social_section {
  padding: 80px 0;
  border-top: solid 1px #f1f1f1;
}

.social_section .social_row {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.social_section .social_row .social_div {
  width: 18%;
  height: 100%;
  padding-top: 30px;
  border: solid 1px #cccccc;
}

.social_section .social_row .social_div img {
  /* height:100%; */
  width: 100%;
}

/* social media section end */

/* social media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .social_section .social_row {
    flex-direction: column;
    height: 100%;
  }

  .social_section .social_row .social_div {
    width: 98%;
  }
}

/* social media query end */

/* footer section start */
.footer_section {
  padding: 60px 0;
  background-color: #222222;
}

.footer_section .footer_container .footer_row {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer_section .footer_container .footer_row .footer_address {
  width: 20%;
  height: 100%;
  /* background-color: aqua; */
  color: #c5c5c5;
  padding: 10px;
}

.footer_section .footer_container .footer_row .footer_address h3 {
  font-size: 16px;
  font-weight: 200;
  margin: 10px 0;
}

.footer_section .footer_container .footer_row .footer_address ul li {
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  color: #999;
}

.footer_section .footer_container .footer_row .latest_tweet {
  width: 22%;
  height: 100%;
  /* background-color: blue; */
  padding: 20px;
}

.footer_section .footer_container .footer_row .latest_tweet h3 {
  font-size: 16px;
  font-weight: 300;
  color: #c5c5c5;
  margin-bottom: 15px;
}

.footer_section .footer_container .footer_row .latest_tweet i {
  font-size: 32px;
  color: #999;
}

.footer_section .footer_container .footer_row .latest_tweet span {
  font-size: 10px;
  color: red;

  margin-left: 8px;
}

.footer_section .footer_container .footer_row .latest_tweet p {
  font-size: 13px;
  color: #999;

  margin-left: 45px;
  line-height: 1.2;
}

.footer_section .footer_container .footer_row .stay_div {
  padding: 20px;
  width: 22%;
  /* background-color: blueviolet; */
}

.footer_section .footer_container .footer_row .stay_div h3 {
  font-size: 16px;
  font-weight: 300;
  color: #c5c5c5;
  margin-bottom: 15px;
}

.footer_section .footer_container .footer_row .stay_div p {
  font-size: 16px;
  color: #999;
  margin-bottom: 15px;
}

.footer_section .footer_container .footer_row .stay_div input {
  width: 100%;
  padding: 8px;
  margin-bottom: 2px;
}

.footer_section .footer_container .footer_row .stay_div button {
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background-color: #ff432e;
  color: #fff;
}

.footer_section .footer_container .footer_row .stay_div button:hover {
  color: #ff432e;
  background-color: #222222;
  border: solid 1px #ff432e;
}

.footer_section .footer_container .footer_row .flickr {
  width: 20%;
  padding: 20px;
  /* background-color: blue; */
}

.footer_section .footer_container .footer_row .flickr h3 {
  font-size: 17px;
  font-weight: 300;
  color: #c5c5c5;
}

.footer_section .flickr .flickr_container {
  margin-top: 12px;
}

/* .footer_section  .flickr .flickr_container .flickr_row .flickr_card {
    height: 250px;
    width: 20%;
} */
.footer_section .flickr .flickr_container .flickr_row {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.footer_section .flickr .flickr_container .flickr_image {
  height: 50px;
  /* width:25%; */
}

.footer_section
  .footer_container
  .footer_row
  .flickr
  .flickr_container
  .flickr_image
  img {
  width: 100%;
  height: 100%;
  background-color: #ff432e;
}
/* footer section end */

/* footer section media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer_section .footer_container .footer_row {
    flex-direction: column;
    height: 100%;
    /* width:100%; */
  }
  .footer_section .footer_container .footer_row .footer_address {
    width: 100%;
  }
  .footer_section .footer_container .footer_row .latest_tweet {
    width: 100%;
  }
  .footer_section .footer_container .footer_row .stay_div {
    width: 100%;
  }
  .footer_section .footer_container .footer_row .flickr {
    width: 100%;
  }
}
/* footer section media query end */

/* copyright start */
.copyright_div {
  padding: 20px 0;
  background-color: #1d1d1d;
  border-top: solid 1px #363636;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /*  gap:5px;*/
}
.copyright_div .copyright span {
  font-size: 16px;
  color: #7f7f7f;
}
.copyright_div .copyright_link a {
  font-size: 13px;
  text-decoration: none;
  margin-left: 10px;
  color: #999;
}
.copyright_div .copyright_link a:first-child {
  color: #fff;
}
.copyright_div .copyright_link a:hover {
  color: #ff432e;
}
/* copyright end */

/* copyright media query start */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .copyright_div {
    flex-direction: column;
  }
}
/* copyright media query end */
